.App {
  text-align: center;
}

ul {
  list-style: none; /* Removes default list styling */
  padding: 0; /* Removes default padding */
  display: flex; /* Ensures list items are flex items */
}

li {
  margin-right: 10px; /* Adds some space between items */
}
a{
  margin: 20px;
  text-decoration: none;
  color:"white";
  font-size: 20px;

}
.links{
  text-decoration: none;
  height: 50px;
}


.sections {
  height: 40px;
}

body{
  background-color: lightgrey;
}